{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Worker {{ object|yesno:"Update,Create" }}{% endblock %}

{% block content %}
  
  <div class="page-header section-height-100">
    <div class="oblique position-absolute top-0 h-100 d-md-block d-none max-width">
      <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url(/static/img/IT/it_technologi.jpg)"></div>
    </div>
    <div class="container m-auto">
      <div class="row">
        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
          <h1 class="text-gradient text-danger">{{ object|yesno:"Update,Create" }} Worker</h1>
          <p class="lead pe-5 me-5">{{ object|yesno:"Update,Create" }} your Worker. </p>
          <form method="post" action="">
            <div class="max-width">
              {% csrf_token %}
              {{ form|crispy }}
            </div>
            <div class="buttons">
              <input type="submit" class="btn bg-gradient-primary mt-4" value="{{ object|yesno:'Update,Create' }}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
